@use 'base' as *
@use 'abstracts' as *
@use 'components' as *

body, button, input
    font-size: 16px
    font-family: 'Poppins', Arial, Helvetica, sans-serif
    background-color: $red

.container
    max-width: $desktop
    margin: auto
    
.attribution
    color: color
    text-align: center
    
    a
        color: $blue
        text-decoration: none
        font-weight: 600
