@use '../abstracts' as *

.input
    background-color: white
    margin: 0.7rem 0
    border: 1.5px solid $grayish-blue
    border-radius: 5px

    input
        background-color: inherit
        width: 100%
        font-weight: 600
        padding: 0.7rem 1rem
        border: none